$backgroundColor: #343a40;
$letterColor: whitesmoke;
header {
  background-color: $backgroundColor;
  nav {
    margin: 0 auto;
    color: $letterColor;
    .navbar-brand {
      color: $letterColor !important;
    }
  }
}
footer {
  background-color: $backgroundColor;
  color: $letterColor;
  height: 70px;

  .footerItem {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }
}
#show-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.show-item {
  width: 290px;
}
.show-item img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}


#search-dropdown {
  position: absolute;
  background: #fff;
  border-radius: 8px;
  color: #343a40;
  cursor: pointer;
  width: 205px;
}


.search-item {
  padding: 4px 0;
}